<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>CUFP</title>

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/app.css" />
  <script src="https://use.typekit.net/bam6iqp.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>

<body {{ ifdef body_class (( get body_class )) }} >

<!-- Content -->
{{ input (( get content_file )) }}

<!-- Footer -->
<footer>
  <div class="row">
    <div class="about">
      <h3>CUFP</h3>
      <p>Functional Programming as a means, not an end.</p>
      <p>Co-located with <a href="#">ICFP</a></p>
    </div>

    <div class="conf-list">
      <h6><i class="fi-torsos-all"></i> Conferences</h6>
      <ul>
	(( cmd ./cufp.org print conference-list ))
      </ul>
    </div>

    <div class="social">
      <a href="https://twitter.com/cufpconference">
	<i class="fi-social-twitter"></i>
      </a>
      <a href="/blog/">
	<i class="fi-rss"></i>
      </a>
      <a href="https://github.com/cufp">
	<i class="fi-social-github"></i>
      </a>
      <a href="/videos/">
	<i class="fi-video"></i>
      </a>
    </div>
    
    <div class="link-set">
      <ul>
	<li><a href="/about.html">About</a></li>
	<li><a href="/bylaws.html">Bylaws</a></li>
	<li><a href="/steering-committee.html">Steering Committee</a></li>
      </ul>
      <ul>
	<li><a href="/license.html">Licenses</a></li>
	<li><a href="http://github.com/cufp/cufp.org/issues">Website Issues</a></li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="copyright">
      <small>© Copyright 2004 – (( cmd date "+%Y" )) Commercial Users of Functional Programming. Details in <a href="/license.html">Licenses</a>.</small>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/app.min.js"></script>

<!-- Twitter script. Needed to embed Twitter timelines and buttons. -->
(( cat template/_twitter_script.html ))

<!-- Google Analytics -->
(( ifdef production
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(["_setAccount", "UA-12990950-1"]);
  _gaq.push(["_setVar", "anonymous user"]);
  _gaq.push(['_setCustomVar', 1, "User roles", "anonymous user", 1]);
  _gaq.push(["_trackPageview"]);

  (function() {
     var ga = document.createElement("script");
     ga.type = "text/javascript";
     ga.async = true;
     ga.src =
       ("https:" == document.location.protocol ? "https://ssl" : "http://www") +
       ".google-analytics.com/ga.js";
     var s = document.getElementsByTagName("script")[0];
     s.parentNode.insertBefore(ga, s);
   })();
</script>
))

</body>
</html>
