footer
{
	background: darken($asbestos, 40);

	a
	{
		color: $asbestos;
	}

	p
	{
		color: $silver;
	}

	h1, h2, h3, h4, h5, h6
	{
		color: $silver;
		margin: 0;
	}

	.row
	{
		&>div
		{
			@include grid-col(12);
			margin: $column-gutter/2 0;

			&.copyright
			{
				border-top: 1px solid darken($asbestos, 30);

				small
				{
					color: darken($asbestos, 20);
				}
			}
		}
	}

	.conf-list
	{
		h6
		{
			text-align: center;
			margin-bottom: $paragraph-margin-bottom;

			i
			{
				margin-right: 0.5rem;
			}
		}

		ul
		{
			list-style: none;
			margin: 0;
			padding: 0;
			column-count: 2;
			column-gap: $column-gutter/2;

			li
			{
				display: block;
				break-inside: avoid;

				a
				{
					display: block;
					text-align: center;
				}
			}
		}

		@include breakpoint(small only)
		{
			h6
			{
				text-align: left;
			}

			ul
			{
				column-count: 1;

				li
				{
					display: inline-block;
					margin-right: 1rem;
				}
			}
		}
	}

	.social
	{
		padding-top: rem-calc(map-get(map-get($header-sizes, 'medium'), 'h6'));

		a
		{
			display: inline-block;
			@include grid-col(2.8);
			float: none;
			padding: 0;
			text-align: center;
			font-size: 2rem;
		}
	}

	.link-set
	{
		ul
		{
			list-style: none;
			margin-left: 0;
		}
	}

@include breakpoint(medium)
{
	.row
	{
		&>div
		{
			@include grid-col-size(3);
			margin: $column-gutter 0;

			&.copyright
			{
				@include grid-col(12);
				margin-top: 0;
			}
		}
	}

	.social
	{
		a
		{
			@include grid-column(5.9);
			padding: 0;
		}
	}
}

@include breakpoint(large)
{
	.conf-list
	{
		ul
		{
			column-count: 3;
		}
	}
}

}
