.intros
{
	@extend %padded;

	.intro-paragraph
	{
		@include grid-col(12);
		margin-bottom: $paragraph-margin-bottom*2;
	}

@include breakpoint(medium)
{
	.intro-paragraph
	{
		@include grid-col-size(6);
		margin-bottom: 0;
	}
}

@include breakpoint(large)
{
.intro-paragraph
{
	@include grid-col-size(4);
	margin-bottom: 0;
}
}

}
