////////////////////////////////////////////////////////////////////////////////
// Style based on event type: Talk, Keynote, Tutorial, BoF, Break, or Discussion


// Color for each event type.
$talk-color: #800000;
$keynote-color: $talk-color;
$tutorial-color: #008024;
$bof-color: #0A82CC;
$break-color: #A3A3A3;
$discussion-color: $break-color;

////////////////////////////////////////////////////////////////////////////////
/// Event Columns
@mixin event-columns($event-color) {
  h3 {
    color : $event-color;
    font-weight : bold;
  }

  .button {
    @include button(rem-calc(8), $event-color, true)
  }
}

.talk.columns { @include event-columns($talk-color); }
.tutorial.columns { @include event-columns($tutorial-color); }
.bof.columns { @include event-columns($bof-color); }


////////////////////////////////////////////////////////////////////////////////
/// Event Tables

// General table properties.
table.event {
  border: 0;
}

// Mixin to customize row based on event type.
@mixin event-row($event-color) {
  vertical-align: text-top;

  * {font-size: $table-row-font-size}

  a:link, a:visited {
    color: $body-font-color;
    text-decoration: none;
    border-bottom: 1px dotted $body-font-color;
  }

  a:hover, a:active {
    color: $primary-color;
  }

  a {
    &.fi-social-youtube, &.fi-social-vimeo, &.fi-page {
      border-bottom: 0 !important;
      font-size: 120%;
      color: scale-color($body-font-color, $lightness: 50%);
    }
  }

  // Set all icon colors to $event-color, but we know only a certain
  // icon will be used for a given event type.
  .fi-microphone, .fi-laptop, .flaticon-pen43 {
    color: $event-color;
    font-size: 125%;
  }
}

// Apply above mixin for each event type.
table.event {
  tr.talk {
    @include event-row($talk-color)
  };
  tr.keynote {
    @include event-row($keynote-color);
  };
  tr.tutorial {
    @include event-row($tutorial-color)
  };
  tr.bof {
    @include event-row($bof-color)
  };
  tr.break {
    @include event-row($break-color);
  };
  tr.discussion {
    @include event-row($discussion-color);
  };
  tr.session {
    * {font-size: 110%};
    background-color: scale-color($body-font-color, $lightness: 75%);
    span {padding-left: rem-calc(20)}
  };
}

// Speakers column
table.event ul {
  list-style-type: none;
  margin-left: 0;
}


////////////////////////////////////////////////////////////////////////////////
/// Event Pages
body.event {
  .fi-microphone {color:$talk-color};
  .fi-laptop {color:$tutorial-color};
  .flaticon-pen43 {color:$bof-color};

  div.speakers ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0.5 * $rem-base;
    li {display:inline};
    li:not(:last-child):after {
      content: ", "
    }
  }

  div.time {
    color: scale-color($body-font-color, $lightness: 50%);
    font-style: italic;
    font-size: 75%;
    margin-top: 0;
    margin-bottom: $rem-base;
  }

  div.video {
    margin-bottom: $rem-base;
  }

  img {
    width: 100%;
  }

}
