////////////////////////////////////////////////////////////////////////////////
// Style based on session type: Talk, Keynote, Tutorial, BoF, or Break


// Color for each session type.
$talk-color: #800000;
$keynote-color: $talk-color;
$tutorial-color: #008024;
$bof-color: #0A82CC;
$break-color: #A3A3A3;


////////////////////////////////////////////////////////////////////////////////
/// Session Columns
@mixin session-columns($session-color) {
  h3 {
    color : $session-color;
    font-weight : bold;
  }

  .button {
    @include button(rem-calc(8), $session-color, true)
  }
}

.talk.columns { @include session-columns($talk-color); }
.tutorial.columns { @include session-columns($tutorial-color); }
.bof.columns { @include session-columns($bof-color); }


////////////////////////////////////////////////////////////////////////////////
/// Session Tables

// General table properties.
table.session {
  border: 0;
  margin-top: -$rem-base;
  thead {
    border-bottom : $table-border-style 3px $table-border-color; 
  }
}

// Mixin to customize row based on session type.
@mixin session-row($session-color) {
  a:link, a:visited {
    color: $body-font-color;
    text-decoration: none;
    border-bottom: 1px dotted $body-font-color;
  }

  a:hover, a:active {
    color: $primary-color;
  }

  a {
    &.fi-social-youtube, &.fi-social-vimeo, &.fi-page {
      border-bottom: 0 !important;
      font-size: 120%;
      color: scale-color($body-font-color, $lightness: 50%);
    }
  }

  // Set all icon colors to $session-color, but we know only a certain
  // icon will be used for a given session type.
  .fi-microphone, .fi-laptop, .flaticon-pen43 {
    color: $session-color;
    font-size: 125%;
  }
}

// Apply above mixin for each session type.
table.session {
  tr.talk {
    @include session-row($talk-color)
  };
  tr.keynote {
    @include session-row($keynote-color);
    font-weight: bold;
  };
  tr.tutorial {
    @include session-row($tutorial-color)
  };
  tr.bof {
    @include session-row($bof-color)
  };
  tr.break {
    @include session-row($break-color);
  };
}

// Speakers column
table.session ul {
  list-style-type: none;
  margin-left: 0;
}


////////////////////////////////////////////////////////////////////////////////
/// Session Pages
body.session {
  .fi-microphone {color:$talk-color};
  .fi-laptop {color:$tutorial-color};
  .flaticon-pen43 {color:$bof-color};

  div.speakers ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0.5 * $rem-base;
    li {display:inline};
    li:not(:last-child):after {
      content: ", "
    }
  }

  div.time {
    color: scale-color($body-font-color, $lightness: 50%);
    font-style: italic;
    font-size: 75%;
    margin-top: 0;
    margin-bottom: $rem-base;
  }

  div.video {
    margin-bottom: $rem-base;
  }

  img {
    width: 100%;
  }

}
