@import "settings";
@import "../../../bower/foundation/scss/normalize";
@import "../../../bower/foundation/scss/foundation";

////////////////////////////////////////////////////////////////////////////////
// Main conference pages are divided into panes. The following classes
// allow setting styles to contrast adjacent panes.

// A bright pane.
.pane-bright {
  background-color: scale-color($primary-color, $lightness: 80%);

  a:link, a:visited {
    color : $body-font-color;
    text-decoration : none;
    border-bottom : 1px dotted $body-font-color;
  }

  a:hover, a:active {
    color : $primary-color;
  }

}

// A subtle pane. Useful to delineate two adjacent panes that both
// have same background color.
.pane-subtle {
  box-shadow: 0px 0px 10px 2px #AAAAAA;
}

// A dark pane.
.pane-dark {
  background-color: #000000;
}


// Fix top padding, which seems too little. Not sure this is best solution.
.row {
  padding-top: $rem-base * 0.8;
}


////////////////////////////////////////////////////////////////////////////////
// Conference pages
body.conference {

  // Margin following H2 headers is too large.
  h2 {margin-bottom: 0;}

  div:nth-child(2) {
    h1, h2 {
      color:white;
      font-weight:bold;
      font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    // In banner, H2 margin should be larger.
    h2 {margin-bottom: $rem-base;}

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  ul {
    list-style-type: none;
    margin-left: 0;
  }
}


////////////////////////////////////////////////////////////////////////////////
// Persons
$person-color: $body-font-color;

.person {
  color: $person-color;
}


////////////////////////////////////////////////////////////////////////////////
// Affiliations
.affiliation {
  font-style: italic;
}

.affiliation:before {
  content: "("
}

.affiliation:after {
  content: ")"
}


@import "sessions", "footer", "videos", "blog"
